<h2 class="main_content_title align_center">inicia sesión</h2>

<div class="has_padding">
  <h4>puedes iniciar sesión con tu cuenta de:</h4>
</div>
<div class="has_padding align_center">
  <%= link_to "/auth/facebook" do %><%= image_tag "/images/fblogo.png", :class => "social_network_logo ttip", :title => "facebook" %><% end %>
  <%= link_to "/auth/twitter" do %><%= image_tag "/images/twitterbird.png", :class => "social_network_logo ttip", :title => "twitter" %><% end %>
</div>
