<div class="has_padding the_faqs">
  <h2 class="align_center">preguntas frecuentes</h2>

  <div class="has_padding"></div>

  <ol>
    <li>
      <p><b>¿Qué es <span class="default_red">q</span>oloquio?</b></p>
      <p>Es un punto de encuentro donde –entre todos– preparamos conversaciones para llevar entre seres humanos ayudados por tecnología y redes sociales. Es el hermano mayor de los medios convencionales.</p>
    </li>
    <li>
      <p><b>¿Qué harán el 17 de febrero?</b></p>
      <p>Desde las 16h30, en este mismo sitio web, con la etiqueta #EleccionesEC vamos a conversar sobre las votaciones, siendo retransmitidos en simultáneo por <a href="http://lahora.com.ec/" target="_blank">Diario La Hora</a>, <a href="http://kocodriloradio.com" target="_blank">Kocodrilo Radio</a> y <a href="http://13plus.com.ec" target="_blank">Canal 13Plus</a>.</p>
    </li>
    <li>
      <p><b>¿Qué harán después del 17 de febrero?</b></p>
      <p>Seguiremos preparando conversaciones para llevar. No creemos en los informativos unidireccionales clásicos y aburridos, queremos innovar con diálogos bidireccionales que solamente las redes sociales y la web nos lo permiten, donde tú como usuario eres parte de nuestro equipo generando contenidos.</p>
    </li>
    <li>
      <p><b>Me gusta la idea, ¿cómo puedo participar en #EleccionesEC?</b></p>
      <p>De tres maneras:</p>
      <ul>
        <li>
          <p>Enviando tu pregunta al candidato en caso de que resulte electo,</p>
        </li>
        <li>
          <p>Reportando cómo votaste, y</p>
        </li>
        <li>
          <p>Participando durante toda la transmisión del 17 de febrero con criterios, opiniones, preguntas, correcciones, etc.</p>
        </li>
      </ul>
    </li>
    <li>
      <p><b>¿Cómo le pregunto a mi candidato a asambleísta si resulta electo?</b></p>
      <p>Desde este momento hasta el domingo 17 de febrero a las 16h30 recogeremos todas las preguntas para los candidatos que resulten electos. Puedes enviar tu pregunta con antelación <a href="http://qoloquio.com/preguntas/new" target="_blank">siguiendo este enlace</a>. Durante la transmisión pasaremos tus preguntas en vivo al candidato electo.</p>
    </li>
    <li>
      <p><b>¿De verdad les interesa cómo voté?</b></p>
      <p>Claro que sí ! A través de Twitter y FaceBook, con fotografías, vídeos, reportajes ciudadanos, textos, etc., usando la etiqueta #EleccionesEC, entre todos –desde las 16h30– vamos a contar cómo vivimos la democracia. Cualquier novedad presentada durante el proceso de votación ayuda a construir de mejor forma tu historia.</p>
    </li>
    <li>
      <p><b>¿En qué se diferencian de una cobertura noticiosa clásica?</b></p>
      <p>En <span class="default_red">q</span>oloquio estamos conversando entre personas; en todo lo demás los lectores, radioescuchas o televidentes sólo consumen contenidos.</p>
    </li>
    <li>
      <p><b>Me gustaría contactarlos porque tengo una pregunta que no está listada aquí, o porque me gustaría anunciar publicidad con ustedes, o porque quiero hacerles un comentario o sugerencia, o simplemente porque quiero insultarlos o joderles la paciencia, ¿a dónde me dirijo?</b></p>
      <p>Correo electrónico: hola@qoloquio.com</p>
      <p>Twitter: <%= link_to "@qoloquio", "http://twitter.com/intent/user?screen_name=qoloquio", :target => "_blank" %></p>
      <p>FaceBook: <%= link_to "/qoloquio", "http://facebook.com/qoloquio", :target => "_blank" %></p>
      <p>Skype: <%= link_to "qoloquio", "skype:qoloquio?call" %></p>
    </li>
  </ol>

</div>
