<div class="has_padding">
  <h2>Mis preferencias</h2>

  <%= form_for current_user, url: update_my_preferences_path, remote: true, html: { class: "is_form_horizontal my_preferences_form" } do |f| %>
    <%= content_tag :div, :class => "ttip inline_block", :rel => "tooltip", :title => "Se publica automáticamente en Facebook o Twitter cuando marcas como favorita una pregunta", :data => { placement: "bottom" } do %>
      <%= f.label :share_automatically, "Compartir mi actividad" %>
      <%= f.check_box :share_automatically %>
    <% end -%>
  <% end -%>
</div>

<%= javascript_tag "window.Helpers.MyPreferencesViewController.init();" %>