<% 
  unless defined? current 
    current = false
  end
%>

<div class="pregunta row-fluid pregunta_<%= pregunta.id %>">
  <div class="user span2">
    <%= image_tag pregunta.user.image, :class => "profile_picture" %>
    <div class="screen_name">
      <%= raw pregunta.user.link_to_default_profile %>
    </div>
    <div class="user_name">
      <%= raw pregunta.user.name %>
    </div>
  </div>
  <div class="details span9">
    <div class="title">
      <%= pregunta.titulo %>
    </div>
    <div class="desc">
      <%= pregunta.detalle %>
    </div>
    <div class="pregunta_link">
      <%= pregunta.enlace %>
    </div>
    <div class="time_ago">
      Pregunta a <%= pregunta.dirigida_a %>
    </div>
    <div class="time_ago">
      hace <%= time_ago_in_words pregunta.created_at %>
    </div>
		<div class="reputation">
      <%= render 'pregunta_reputation', pregunta: pregunta, current: current %>
		</div>
  </div>
</div>