<%
if current_user
  if pregunta.has_evaluation? :votes, current_user
    status = 'fav_star'
  else
    status = 'white_star'
  end
else
  status = 'white_star'
end
unless defined? current
  current = false
end
%>
<%= link_to vote_pregunta_path(pregunta), method: "post", class: "star", remote: true do %><span class='<%= status %>'></span><% end %>
<span class='votes_total'>
  (<%= pregunta.reputation_for(:votes).to_i %>)
</span>

<div class="share_pregunta">
  <%= link_to raw("<i class='icon-share'></i>"), share_pregunta_path(pregunta), method: "post", remote: true, class: "ttip", rel: "tooltip", title: "Recomendar", data: { placement: "right" } %>
</div>

<% unless current %> 
  <div class="show_pregunta">
    <%= link_to raw("<i class='icon-zoom-in'></i>"), pregunta_path(pregunta), class: "ttip", rel: "tooltip", title: "Ver detalles", data: { placement: "right" } %>
  </div>
<% end %>