<div class="all_preguntas container-fluid">
  <% if @preguntas.length == 0 %>
    <div class="has_padding">
      <h3>Aún no hay preguntas</h3>
      <p>¡Sé el primero en <%= link_to "preguntar", new_pregunta_path %>!</p>
    </div>
  <% else %>
    <% @preguntas.each do |pregunta| %>
      <%= render 'pregunta', pregunta: pregunta %>
    <% end %>
  <% end %>
</div>

<%= paginate @preguntas_pag %>
