<div class="pregunta_new">

  <div class="pregunta_new_title">
    <h2>Nueva pregunta</h2>
  </div>

  <%= form_for @pregunta, :url => preguntas_path, :html => {:class => "is_form_horizontal"} do |f| %>
    <div class="field">
      <%= f.label :titulo, "Título" %>
      <%= f.text_field :titulo, :placeholder => "Título de la pregunta", :required => true %>
    </div>
    <div class="field">
      <%= f.label :detalle, "Detalle" %>
      <%= f.text_area :detalle, :placeholder => "Descripción (contexto) de la pregunta", :required => true %>
    </div>
    <div class="field">
      <%= f.label :enlace, "Enlace" %>
      <%= f.text_field :enlace, :placeholder => "(opcional) enlace que ayude al contexto" %>
    </div>
    <div class="field">
      <%= f.label :dirigida_a, "Dirigida a" %>
      <%= f.select :dirigida_a, Member.candidatos_with_lista %>
    </div>
    <div class="field">
      <%= f.submit "Preguntar", :disable_with => 'Enviando..', :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if @auto_submit_form %>
  <%= javascript_tag do %>
    $(function(){
      $("form.is_form_horizontal").submit();
    });
  <% end %>
<% end %>
