<div class="all_preguntas container-fluid">
  <div class="active_pregunta">
    <%= render 'pregunta', pregunta: @pregunta, current: true %>
    <% if @pregunta.evaluations.count > 0 %>
      <div class="active_pregunta_details">
        <h4>Le ha gustado a:</h4>
        <% @pregunta.evaluations.includes(:source).each do |evaluation| %>
          <%= link_to evaluation.source.default_profile_link, :class => "user_has_liked ttip nolink", :rel => "tooltip", :title => evaluation.source.default_profile_display, "data-placement" => "bottom", :target => "blank" do %>
            <%= image_tag evaluation.source.image %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="has_padding">
  
</div>

<h3>Otras preguntas</h3>
<div class="all_preguntas container-fluid">
  <% @preguntas.each do |pregunta| %>
    <%= render 'pregunta', pregunta: pregunta %>
  <% end %>
</div>