<% if current_user %>
  <% unless @error %>
    $(".all_preguntas .pregunta_<%= @pregunta.id %> .details .reputation").html("<%= j(render('preguntas/pregunta_reputation', pregunta: @pregunta)) %>");
    window.Helpers.Tooltip.init();
  <% end %>
<% else %>
  window.location = "/login";
<% end %>
<%= js_send_all_notifications %>