$default_red: #ef4036

::-moz-selection 
  background: $default_red
  color: #fff
  text-shadow: none
::selection 
  background: $default_red
  color: #fff
  text-shadow: none

.sponsors_logos_small
  max-width: 120px
  max-height: 80px
  margin: 1em 0.5em

body
  header
    text-align: center
    #qoloquio_logo_and_text
      text-align: left
      margin-left: 3em
      #qoloquio_logo
        margin: 2.3em 0.5em 0 0
        max-height: 100px
        display: inline-block
      #qoloquio_title
        padding: 0
        margin-left: 0.8em
        font-size: 1em
        font-style: italic

#main
  text-align: center
  margin: 0 auto
  & > div
    vertical-align: top
  #main_header
    text-align: right
    display: block
    padding: 0.2em 2em 0.2em 0
    .current_user_name
      text-shadow: 0 1px 3px #ddd
      padding: 0.2em 2em 0.2em 0
    .alerts
      text-align: left
  #sidebar
    box-shadow: 0 2px 10px #aaa
  #the_content
    padding: 0.5em
    box-shadow: 0 2px 10px #aaa
    border-radius: 0.3em
    
.default_red
  color: $default_red

@media (max-width: 700px)    /* pequeños */
  #main
    padding: 0
    margin: 0 auto
    width: 100%
    text-align: center
    & > div
      display: block
      margin: 0.5em 0 0.7em 0
      padding: 0
    #sidebar
      width: 100%
    #the_content
      width: 100%

@media (min-width: 700px)    /* grandes */
  #main
    padding: 0
    margin: 0 auto
    width: 680px
    text-align: left
    & > div
      display: inline-block
    #sidebar
      width: 25%
    #the_content
      width: 70%



@media (min-width: 900px)
  #main
    padding: 0
    margin: 0 auto
    width: 880px
    & > div
      display: inline-block
    #sidebar
      width: 25%
    #the_content
      width: 70%

@media (min-width: 1100px)
  #main
    padding: 0
    margin: 0 auto
    width: 1100px
    & > div
      display: inline-block
    #sidebar
      width: 25%
    #the_content
      width: 70%