.align_right
  text-align: right

.align_center
  text-align: center

.profile_picture
  max-height: 48px
  max-width: 48px
  border-radius: 0.3em
  box-shadow: 0 1px 3px #aaa

.profile_picture_mini
  max-height: 20px
  max-width: 20px
  border-radius: 0.3em
  box-shadow: 0 1px 3px #aaa
  
.has_margin
  margin: 1em
  
.has_padding
  padding: 1em

.inline_block
  display: inline-block
  