.pregunta_new
  .pregunta_new_title
    margin-left: 9em
    margin-bottom: 1em

.all_preguntas
  // box-shadow: 0px 2px 10px #aaa
  padding: 0.1em !important
  border-radius: 0.3em

.pregunta
  border-top: 1px solid #eee
  border-bottom: 1px solid #fff
  border-left: 1px solid #eee
  border-right: 1px solid #eee
  padding: 0.9em 0
  &:last-child
    border-bottom: 1px solid #eee
    border-radius: 0 0 0.3em 0.3em
  &:first-child
    border-radius: 0.3em 0.3em 0 0
  & > div
    display: inline-block
    vertical-align: top
  .user
    text-align: center
    // margin: 0.3em
    img
      display: block
      margin: auto
    .screen_name
      margin-top: 0.5em
      font-size: 0.7em
      line-height: 13px
  .details
    position: relative
    text-align: left
    .title
      font-size: 1.2em
      color: #222
    .desc
      color: #444
    .time_ago
      color: #999
      font-size: 0.8em
    .reputation
      position: absolute
      top: 0px
      right: -2em
      .share_pregunta, .show_pregunta
        display: none
        font-size: 0.8em
        line-height: 10px
        text-align: right
        margin-bottom: 0.5em
      .votes_total
        color: #999
        font-size: 0.7em
        vertical-align: top
      .star
        width: 20px
        height: 20px
      .white_star, .fav_star
        display: inline-block
        width: 20px
        height: 20px
        background-size: 100%
      .white_star
        background-image: url('/images/star_white.png')
      .fav_star
        background-image: url('/images/star_fav.png')
      
.active_pregunta
  font-size: 1.1em
  box-shadow: 0 2px 5px #aaa
  border-radius: 0.3em
  border: 1px solid #ef4036
  padding: 0.3em
  & > .pregunta
    border-radius: 0.3em
    border: 1px solid #eee
  .active_pregunta_details
    margin: 0.3em 0.1em
    .user_has_liked
      display: inline-block
      margin: 0.4em 0.1em
      img
        border-radius: 0.3em
        max-width: 35px
        max-height: 35px