<h2>
  el 17 de febrero empezaremos a preparar conversaciones...
</h2>

<%= image_tag "/images/curtains.png", :id => "curtains_img" %>

<h3>...condimenta tu conversación, cocínala, pídela para llevar y sírvetela,<br />
  ...te invitamos a unirte a este <span class="default_red">q</span>oloquio.</h3>

<div class="align_center">
  <%= link_to "http://facebook.com/qoloquio", :target => "_blank" do image_tag("/images/fblogo.png", :class => "social_network_logo ttip", :title => "/qoloquio", :data => {:placement => "bottom"}) end %>
  <%= link_to "http://twitter.com/intent/user?screen_name=qoloquio", :target => "_blank" do image_tag("/images/twitterbird.png", :class => "social_network_logo ttip", :title => "@qoloquio", :data => {:placement => "bottom"}) end %>
  <%= link_to "skype:qoloquio?call" do image_tag("/images/SkypeBlue.png", :class => "social_network_logo ttip", :title => "qoloquio", :data => {:placement => "bottom"}) end %>
</div>

<div class="divisory_line_curtains"></div>

<div class="align_center">
	<h3>retransmiten en simultáneo:</h3>
	<a href="http://lahora.com.ec/" target="_blank"><img src="/images/logo_la_hora.jpg" class="sponsors_logos_small"></a>
	<a href="http://kocodriloradio.com/" target="_blank"><img src="/images/logo_kocodrilo.jpg" class="sponsors_logos_small" style="max-width: 160px;"></a>
	<a href="http://www.13plus.com.ec/" target=_blank><img src="/images/logo_13plus.png" class="sponsors_logos_small" style=""></a>
</div>

<div class="divisory_line_curtains"></div>

<video width="640" height="360" controls preload="none" poster="/images/video_poster.png">
  <source src="http://qoloquio.com.s3.amazonaws.com/eleccionesec/video/promo2_720.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  <source src="http://qoloquio.com.s3.amazonaws.com/eleccionesec/video/promo2.ogg" type='video/ogg; codecs="theora, vorbis"'>
  Por favor actualiza tu navegador.
</video>

<div class="divisory_line_curtains"></div>
