<div id="notifications" class="alerts">
  <% flash.each do |key, msg| %>
    <div class="alert <%= key.to_s %>">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <%= msg %>
    </div>
  <% end %>
</div>