<ul class="nav nav-list">
  <li class="nav-header">
    preguntas
  </li>
  <li <%= active? "preguntas_index" %>>
    <%= link_to "todas", preguntas_path %>
  </li>
  <li <%= active? "faqs" %>>
    <%= link_to "preguntas frecuentes", faqs_path %>
  </li>
  <li <%= active? "preguntas_new" %>>
    <%= link_to "nueva", new_pregunta_path %>
  </li>
  <% if current_user %>
  <li <%= active? "mis_preguntas" %>>
    <%= link_to "mis preguntas", me_preguntas_path %>
  </li>
  <% end %>
  <li class="divider"></li>
  <% if current_user %>
    <!-- <li <%= active? "mis_preferencias" %>>
      <%= link_to "mis preferencias", me_path %>
    </li> -->
    <li>
      <%= link_to "cerrar sesión", logout_url %>
    </li>
  <% else %>
    <li <%= active? "iniciar_sesion" %>>
      <%= link_to "iniciar sesión", login_url %>
    </li>
  <% end %>
</ul>
