<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="author" href="/humans.txt">
  <title>qoloquio &raquo; preguntas</title>
  <meta name="description" content="">
  <meta name="author" content="Mario Andrés Correa">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--[if lt IE 9]><p class=chromeframe>Tu navegador está <strong>obsoleto</strong>. <a href="http://browsehappy.com/">Actualiza a un navegador diferente</a> o <a href="http://www.google.com/chromeframe/?redirect=true">instala google chrome frame</a> (le dará esteroides a tu navegador actual).</p><![endif]-->
  <header>
    <% if @place == "preguntas_index" %>
      <%= render '/layouts/curtains' %>
    <% else %>
      <div id="qoloquio_logo_and_text">
        <%= image_tag "/images/qoloquio_logo.png", id: "qoloquio_logo" %>
        <div id="qoloquio_title">conversaciones para llevar</div>
      </div>
    <% end %>
  </header>
  <div id="main">
    <div id="main_header">
      <div class="current_user_name">
        <% if current_user %>
          <%= current_user.name %>
          <%= image_tag current_user.image, :class => "profile_picture_mini" %>
        <% else %>
          <%= link_to "inicia sesión", login_url %>
        <% end %>
      </div>
      <%= render 'layouts/notifications' %>
    </div>
    <div id="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
    <div id="the_content">
      <%= yield %>
    </div>
  </div>
  <footer>
  </footer>
  <div class="has_padding"></div>
</body>
</html>